#bod{
    height: initial;
}

body#bod {
    height: 100%;
}
#chat-container {
  display: flex;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  flex-direction: column;
}

#chat-header {
  height: auto;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  background-color: lightgray;
  border-bottom: 1px solid gray;
  padding: 0.75%;
  text-align: center;
}

#chat-messages {
  height: 75vh;
  overflow-y: scroll;
  max-height: 100%;
}

#chat-form {
  display: flex;
  align-items: stretch;
  border-top: 1px solid gray;
  padding: 10px;
  flex-direction: column;
  flex-wrap: wrap;
}

#chat-input {
  margin-bottom: 4.5px;
  padding: 5px 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: lightgreen;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

